
:root {
    /* colors */
    --clr-back: #000000;
    --clr-light: #ffffff;
    --clr-contrast: rgba(151, 204, 202, 0.2);
    --clr-slate: #cdd0af;
    /* font-sizes */
    --font-xs: 0.75rem;
    --font-small: 0.875rem;
    --font-medium: 1rem;
    --font-mediumlarge: 1.125rem;
    --font-mediumxlarge: 1.25rem;
    --font-large: 1.5rem;
    --font-xlarge: 1.875rem; 
    /* font-families */
    --font-head: "Inter", sans-serif;
    --font-off: "Source Code Pro", monospace;
}
body {
    background-color: var(--clr-back);
}

