
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: .5rem;
}

.header__img {
    height: 100px;
}

.header__bars {
    color: var(--clr-light);
}

.header__nav {
    display: none;

}
.header__title {
    display: none;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  
    .header__bars {
        display: none;
    }

    .header__nav {
        display: block;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: var(--clr-light);
        min-width: 350px;
        gap: 20px;
      
    }

    .header__discord,
    .header__youtube,
    .header__git {
        background-color: var(--clr-light);
        cursor: pointer;
    }
    
    .header__line {
        height: 25px;
        border: 1px solid var(--clr-contrast);
        opacity: .5;
    }
    .header__account,
    .header__btn {
        font-size: var(--font-xs);
    }
} 

/* lg */
@media (min-width: 1024px) {
    
    .header__title-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .header__title {
        display: block;
        color: var(--clr-light);
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-weight: 800;
        font-family: var(--font-off);
        font-size: var(--font-mediumxlarge);
    }
}

/* xl */
@media (min-width: 1280px) {
    
    .header__title {
        font-size: var(--font-large);
    }
} 

/* 2xl
 @media (min-width: 1536px) {}  */
